einops
transformers==4.29.2
datasets==2.13.0
tqdm
ml_collections
wandb
gcsfs
requests
typing-extensions
sentencepiece
Pillow
ipdb
imageio[ffmpeg]
decord
tiktoken
tensorflow[and-cuda]
scipy==1.12.0
albumentations
uvicorn
fastapi